body,
html{
	margin: 0 auto; /*en caso de que algun navegador agregue margenes a la PW*/
	background-color:#151515;
	font-family: 'Fira Sans Condensed', sans-serif;
}

body{
	display: flex;
  flex-direction: column;
}

nav footer{
	height: 12em;
}
.zone{
	color: #B4A5A5;
	font-size: 1em;
	font-weight: 400;
	line-height: 150%;
}

.main-nav {
  display: flex;
  list-style: none;
  margin: 0;
  font-size: 1em;
  justify-content: right;
}


.topnav a {
	display: flex;
  padding: 0px 15px;
  color: #3C415C;
  font-weight: bold;
  margin: 5px;
  line-height: 2.5;
  transition: all 0.5s;
  cursor: pointer;
}

/*@media se crea para que los elementos se ajusten en dif dispositivos/tamaños*/
@media only screen and (max-width: 600px){
	.main-nav{
		font-size: 0.75em;
		padding: 0;
		background-color:#151515;
	}

	img{
		max-width: 100%;
  	width: 150px;
	}

	.topnav a{
		margin: 15px 0px;
		padding: 0px 6px;

	}
	
	body{
		padding: 0;
		font-size: 1rem;
	}

}

.topnav a:hover {
  background-color: rgba(139, 156, 172, 0.3);
  box-shadow: 0 0 3px 2px #301B3F;
  color: #B4A5A5;
  transition: all 0.5s;
}

.sticky{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.cover{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 1;
  }

.cover div{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.content{
	flex-wrap: wrap;
	padding: 2%;
	text-align: center;
} 

.containerimg{
	display:flex;
  background-color:#151515;
  align-items: center;
  justify-content: center;
  max-width: 180px;
}

img{
	justify-self: center;
	max-width: 100%;
	margin: 0px;
}

.imgRedonda {
    border-radius:100%;
    margin: 0;
    box-shadow: 0 0 10px 5px #301B3F;
}

.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border: 3px solid #454545;
}

.container div {
  background-color: rgba(139, 156, 172, 0.3);
  box-shadow: 0 0 5px 2px #301B3F;
  width: 210px;
  padding: 1%;
  font-size: 0.7rem;
  transition: all 1s;
  border: 3px solid #731121;
}
.container div:hover {
  transform: scale(1.1);
}

h1{
	font-size: 3rem;
	color: #3C415C;
	text-align: center;
	margin-bottom: 0;
}

a:link, a:visited,  a:hover, a:active
{
    color: #B4A5A5;
    text-decoration: none;
}

h3:hover{
	color: #3C415C;
}

h4{
	color:  #3C415C;
	font-size: 1em;
	line-height: 1.5;
}


.footer{
	text-align: center;
	color: #3C415C;
	font-size: 0.5rem;
}

.footer a{
	color: #3C415C;
}

.placeholder{
	color= green;
}
